.cnav {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

.cnav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin-top: 50px;
}

.cnav-right {
  display: flex;
  max-width: 683px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
  }
}

.cnav-right-list {
  display: flex;
  max-width: 483px;
  width: 100%;
  min-height: 29px;
  justify-content: space-between;
  align-items: center;
  li {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #ffffffa8;
    cursor: pointer;
  }
  li:hover {
    color: #FF4B32;
  }
}

@media (max-width: 723px) {
    .cnav-right-list {
        display: none;
    }
    .cnav-right {
        justify-content: end;
        gap: 38px;
    }
}

@media (max-width: 278px) {
    .cnav-right {
        img {
            display: none;
        }
    }
}