.gallery-wrapper {
  text-align: center;
  h2 {
    font-weight: 500;
    font-size: 43px;
    line-height: 130%;
    letter-spacing: 0%;
    color: $primary-color;
    margin-bottom: 20px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #00000091;
    margin-bottom: 60px;
  }
}

.gallery-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 60px;
}

.gallery-img1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.gallery-bottom {
  max-width: 460px;
  margin: 0 auto;
  width: 100%;
  height: 57px;
  padding-top: 15px;
  text-align: center;
  border-top: 2px solid #0d0402;
  border-bottom: 2px solid #0d0402;
  margin-bottom: 155px;
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: $primary-color;
    cursor: pointer;
    &:hover {
        color: #FF4B32;
    }
  }
}

@media (max-width: 1165px) {
  .gallery-img {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 780px) {
  .gallery-img {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 370px) {
  .gallery-img1 {
    img {
      max-width: 362px;
      width: 100%;
    }
  }
}
