.headr {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

.headr-wrapper {
  color: #ffffff;
  min-height: 579px;
  max-width: 1148px;
  width: 100%;

  position: relative;
}

.headr-left {
  margin-top: 110px;
  h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-bottom: 26px;
  }
  p {
    font-weight: 100;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #ffffffd0;
    margin-bottom: 48px;
  }
  button {
    width: 148px;
    height: 61px;
    border-radius: 5px;
    padding-top: 16px;
    padding-right: 35px;
    padding-bottom: 16px;
    padding-left: 35px;
    gap: 10px;
    background-color: #ff4b32;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #ffffff;
  }

  position: absolute;
  left: 0px;
  z-index: 100;
}

.headr-right {
  max-width: 700px;
  width: 100%;

  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  img {
    max-width: 870px;
    width: 100%;
  }
}

@media (max-width: 705px) {
    .headr-left {
        h1 {
            font-size: 42px;
        }
    }
}

@media (max-width: 372px) {
    .headr-left {
        p {
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 251px) {
    .headr-wrapper {
        min-height: 719px;
    }
}