* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
    border: none;
    background: none;
}

.container {
    max-width: 1153px;
    width: 100%;
    margin: 0 auto;
}