@import "./variables";
@import "./base";


@import "./sections/cnav";
@import "./sections/headr";
@import "./sections/offer";
@import "./sections/gallery";
@import "./sections/follow";
@import "./sections/news";
@import "./sections/foot";